# Environment
IS_PRODUCTION=false

# Debug
ONLY_PRINT=true

# Slack
SLACK_WEBHOOK_URL=

# Strava
STRAVA_CLUB_ID=
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REFRESH_TOKEN=

# Database
DATABASE_SSH_HOST_NAME=
DATABASE_PA_USERNAME=
DATABASE_PA_PASSWORD=
DATABASE_PA_HOSTNAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_NAME=
