# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
requests>=2.32.0
pip~=23.3
attrs~=23.2.0
wheel~=0.41.2
setuptools>=70.0.0
packaging~=24.0
typing_extensions~=4.11.0
selenium~=4.20.0
